
html,
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body {
    position:relative;
    font-size:100%;
    background-color: black;
}
.settingPanel{
    width:200px;
    background-color: white;
    height:300px;
    position:absolute;
}
.jupiter {
    width:14.27px;
}
.earth {
    width:12.7px; 
}
.mars {
    width:6.7px;
}
.sun {
    width:69.6px;
   
}
.mercury {
    width:4.8px;
}
.ellipse {
        border-radius: 50%;
        border: 1px solid rgb(65, 61, 61);
        position:absolute;   
}
